
<h1> ACP BREVET CONTROLE TIMES </h1> 
{% for item in items %} 
  <p> {{ item.brevet_distance }}km ACP BREVET<p>
  <p> CHECKPOINT: {{ item.km }} <p>
  <p> START: {{ item.start }}<p>
  <p> OPEN DATE: {{ item.opdate }}<p>
  <p> OPEN TIME: {{ item.open }} <p>
  	<p> CLOSE DATE: {{ item.cldate }}<p>
  <p> CLOSE TIME: {{ item.close }} <p>
  	<p> -------------------------- <p>
{% endfor %}